@page
@using Achiever.Common.Model
@using Achiever.Model
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h2>Дневник достижений</h2>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".badge-btn").click(function () {
                if ($(this).next(".badge-info-div").is(":visible")) {
                    $(this).next(".badge-info-div").hide();
                    return;
                }
                $(".badge-info-div").each(function () {
                    $(this).hide();
                });
                
                $(this).next(".badge-info-div").toggle();
            });
            $('.svg-plus-btn').hover(function () {

            });
            $('.aimInfo').hide();

            $('.aim-info-btn').click(function (e) {
                $(this).next('.aimInfo').toggle();
                e.preventDefault();
            });

            $('.add-btn').click(function (e) {
                var aid = $(this).attr('achId');
                console.log('aid: ' + aid);
                console.log($(this).parent());
                $(this).parent().children(".hide1-cls").toggle();
                e.preventDefault();
            });

            $('.header1').click(function () {
                var div1 = $(this).parent().parent().find('.content1');
                div1.toggle();

            });

            $('.top-up-ok-btn').click(function (e) {
                const uri = 'api/Default';
                var aid = $(this).attr('achId');
                var val = $(this).parent().children(":input").val();


                /*fetch(uri)
                    .then(response => response.json())
                    .then(data => _displayItems(data))
                    .catch(error => console.error('Unable to get items.', error));*/
                let item = {
                    achieveId: parseInt(aid),
                    count: parseInt(val)
                };
                console.log(item);

                $.ajax({
                    type: "POST",
                    url: uri,

                    data: JSON.stringify(item),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //location.reload();
                        window.location.reload(true);
                        //alert(data);
                    },
                    failure: function (errMsg) {
                        //alert(errMsg);
                    }
                });

                /*$.post(uri, JSON.stringify(item), function (data) {

                    console.log('ok');
                }).fail(function () {
                    console.error("fail");
                });*/
                /*
                fetch(uri, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(item)
                })
                    .then(response => response.json())
                    .then(() => {
                        //getItems();
                        //addNameTextbox.value = '';
                    })
                    .catch(error => console.error('Unable to add item.', error));

*/
                e.preventDefault();


            });

            $('.top-up-cancel-btn').click(function (e) {
                $(this).parent().children(".hide1-cls").toggle();
                e.preventDefault();

            });
        });
    </script>
}


@{

    void RenderButtonPlus()
    {
        <svg class="svg-plus-btn" xmlns:dc="http://purl.org/dc/elements/1.1/"
             xmlns:cc="http://creativecommons.org/ns#"
             xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
             xmlns:svg="http://www.w3.org/2000/svg"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
             xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
             width="4.4465075mm"
             height="4.4465075mm"
             viewBox="0 0 29.92857 29.92857"
             id="svg2"
             version="1.1"
             inkscape:version="0.91 r13725"
             sodipodi:docname="plus1.svg">
            <defs id="defs4">
                <linearGradient inkscape:collect="always"
                                id="linearGradient4170">
                    <stop style="stop-color:#647ee7;stop-opacity:1;"
                          offset="0"
                          id="stop4172" />
                    <stop style="stop-color:#647ee7;stop-opacity:0;"
                          offset="1"
                          id="stop4174" />
                </linearGradient>
                <radialGradient inkscape:collect="always"
                                xlink:href="#linearGradient4170"
                                id="radialGradient4178"
                                cx="215.71428"
                                cy="256.64792"
                                fx="215.71428"
                                fy="256.64792"
                                r="47.642857"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0.31409294,0,0,0.31409294,115.28137,143.35805)" />
            </defs>
            <sodipodi:namedview id="base"
                                pagecolor="#ffffff"
                                bordercolor="#666666"
                                borderopacity="1.0"
                                inkscape:pageopacity="0.0"
                                inkscape:pageshadow="2"
                                inkscape:zoom="7.9195959"
                                inkscape:cx="12.405905"
                                inkscape:cy="26.643679"
                                inkscape:document-units="px"
                                inkscape:current-layer="layer1"
                                showgrid="false"
                                fit-margin-top="0"
                                fit-margin-left="0"
                                fit-margin-right="0"
                                fit-margin-bottom="0"
                                inkscape:window-width="1920"
                                inkscape:window-height="931"
                                inkscape:window-x="1352"
                                inkscape:window-y="-8"
                                inkscape:window-maximized="1" />
            <metadata id="metadata7">
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                        <dc:title />
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <g inkscape:label="Layer 1"
               inkscape:groupmode="layer"
               id="layer1"
               transform="translate(-168.07142,-209.00506)">
                <circle style="opacity:1;fill:#ff6600;fill-opacity:1;fill-rule:nonzero;stroke:url(#radialGradient4178);stroke-width:0.31409293;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path4136"
                        cx="183.03571"
                        cy="223.96935"
                        r="14.807239" />
                <rect style="opacity:1;fill:#ffeeaa;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      id="rect4138"
                      width="4.3085423"
                      height="15.62272"
                      x="181.06769"
                      y="216.33948"
                      ry="0" />
                <rect style="opacity:1;fill:#ffeeaa;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      id="rect4138-0"
                      width="4.5655689"
                      height="15.370181"
                      x="221.70856"
                      y="-191.1938"
                      ry="0"
                      transform="matrix(0,1,-1,0,0,0)" />
            </g>
        </svg>
    }
    void RenderTopUpButton(int val, int achId)
    {

        <input class="hide1-cls" type="text" value="@val" style="display:none" />
        <a class="top-up-ok-btn hide1-cls" achId="@achId" href="#" style="display:none">ok</a>
        <a class="top-up-cancel-btn hide1-cls" href="#" style="display:none">cancel</a>
    }
}


@{
    var ctx = AchieverContextHolder.GetContext();
    var user = Helper.GetUser(HttpContext.Session);
    Helper.CheckAllChallenges(user.Id);


    void RenderPath(int width, string fill)
    {
        var outp = $"M5,5 h{width} a5,5 0 0 1 5,5 v5 a5,5 0 0 1 -5,5 h-{width} a5,5 0 0 1 -5,-5 v-5 a5,5 0 0 1 5,-5 z";
        <path d="@outp" fill="@fill" stroke="black" stroke-width="1" />
    }


    void RenderProgressBar(float percent, int width, string fill)
    {
        var len = width * percent;

        RenderPath(width, "none");
        if (len > 10)
        {
            RenderPath((int)len, "orange");
        }
    }


    foreach (var chitem2 in ctx.UserChallengeInfos.Where(z => z.User.Id == user.Id).Include(z => z.Challenge.Aims).ToList())
    {
        var chitem = chitem2.Challenge;
        if (chitem2.IsComplete) continue;
        TimeSpan? ts = null;
        if (chitem.UntilDate != null)
        {
            ts = chitem.UntilDate.Value - DateTime.Now;
        }

        <a class="badge-btn" href="#">
            @{await Html.RenderPartialAsync("Badge", new Tuple<AchieverContext, Challenge>(ctx, chitem));
            }
        </a>

        <div class="badge-info-div" style="border-radius: 20px; background-color: azure;padding: 5px; margin: 5px; border: solid 1px; display: none">
            @{
                <h3><a href="#" class="header1">Челендж: @chitem.Name</a></h3>
                <div>Завершено: @(Math.Round(Helper.GetPercentOfChallenge(ctx, chitem2.ChallengeId,chitem2.UserId) * 100, 1) + "%")</div>
                <p>категории: #спорт, #english</p>


                <div class="content1">
                    @{
                        await Html.RenderPartialAsync("Badge", new Tuple<AchieverContext, Challenge>(ctx, chitem));


                        var addstr1 = "";
                        if (ts != null)
                        {
                            addstr1 = $"осталось: {((int)ts.Value.TotalDays)} дней";
                            <p>
                                Идет до: @chitem.UntilDate.Value.ToLongDateString() @addstr1
                            </p>
                        }
                        else
                        {
                            <p>
                                Безсрочный челендж
                            </p>
                        }

                    }
                </div>


                foreach (var bb in chitem.Aims)
                {
                    var item = ctx.AchievementItems.SingleOrDefault(z => z.Id == bb.AchievementId);
                    string clr = "#bbddff";
                    bool achieved = bb.IsAimAchieved(ctx, chitem2, user);
                    if (achieved)
                    {
                        clr = "#aaffaa";
                    }
                    <div class="content1" style="background-color: @clr; border-radius: 20px;padding:10px;margin:10px">

                        @{



                            var aa = ctx.AchievementValueItems.Where(z => z.Achievement.Id == item.Id && ((z.Timestamp > chitem2.StartTime.Value) || !chitem2.Challenge.UseValuesAfterStartOnly));

                            //var bb = ctx.AchievementAimItems.FirstOrDefault(z => z.Achievement.Id == item.Id);


                            if (bb == null)
                            {
                                throw new NotImplementedException();
                                //<p>@item.Name: @cnt - цель не задана <a href="#">задать</a> </p>

                                continue;
                            }

                            int target = bb.Count.Value;


                            var cnstr = bb.ExtractAimSettings();
                            var percnt = bb.GetPercentOfAim(ctx, chitem2);

                            switch (bb.Type)
                            {

                                case AimType.Bool:
                                    {
                                        var addstr3 = "";
                                        int cnt = 0;
                                        int cnt11 = 0;

                                        var addstr4 = "";
                                        var todays = aa.Where(z => z.Timestamp.Date == DateTime.UtcNow.Date);
                                        if (cnstr != null)
                                        {
                                            switch (cnstr.Period)
                                            {
                                                case PeriodTypeEnum.Day:
                                                    {

                                                        addstr3 = "за день";
                                                        var fr = aa.ToList().GroupBy(z => z.Timestamp.Date).OrderByDescending(z => z.Sum(u => u.Count)).First();
                                                        if (cnstr.MinCountPerSet != null)
                                                        {
                                                            var lst = aa.Where(z => z.Count >= cnstr.MinCountPerSet.Value).ToList();
                                                            if (lst.Any())
                                                            {
                                                                fr = lst.GroupBy(z => z.Timestamp.Date).OrderByDescending(z => z.Sum(u => u.Count)).First();
                                                                var todays1 = aa.Where(z => z.Timestamp.Date == DateTime.UtcNow.Date).Where(z => z.Count >= cnstr.MinCountPerSet.Value);
                                                                var lastOne = fr.OrderByDescending(z => z.Timestamp).First();
                                                                addstr4 = lastOne.Timestamp.ToLongDateString() + " " + lastOne.Timestamp.ToLongTimeString();

                                                                cnt = fr.Sum(z => z.Count);
                                                                if (todays1.Any())
                                                                {
                                                                    cnt11 = todays1.Sum(z => z.Count);
                                                                }
                                                            }
                                                            else
                                                            {

                                                            }
                                                            addstr3 += $" (мин. {cnstr.MinCountPerSet.Value} за подход)";
                                                        }
                                                        else
                                                        {

                                                            addstr4 = fr.Key.ToLongDateString();
                                                            cnt = fr.Sum(z => z.Count);
                                                            cnt11 = todays.Sum(z => z.Count);
                                                        }
                                                    }
                                                    break;
                                                case PeriodTypeEnum.Set:
                                                    {
                                                        addstr3 = "за подход";
                                                        var fr = aa.OrderByDescending(z => z.Count).First();


                                                        addstr4 = fr.Timestamp.ToLongDateString() + " " + fr.Timestamp.ToLongTimeString();
                                                        cnt = fr.Count;
                                                        if (todays.Any())
                                                        {
                                                            cnt11 = todays.Max(z => z.Count);
                                                        }
                                                    }

                                                    break;
                                                case PeriodTypeEnum.Whole:
                                                    addstr3 = "за все время";
                                                    cnt = aa.Sum(z => z.Count);
                                                    cnt11 = aa.Sum(z => z.Count);
                                                    break;
                                            }
                                        }




                                        bool done = false;
                                        if (cnt > target)
                                        {
                                            cnt = target;
                                            done = true;
                                            <p>DONE!</p>

                                        }
                                        var percent = cnt / (float)target;
                                        var percent11 = cnt11 / (float)target;
                                        var percent2 = Math.Round(percent * 100, 0);
                                        var percent22 = Math.Round(percent11 * 100, 0);

                                        <p>@item.Name @addstr3: @cnt / @target (@percent2%)  @addstr4</p>
                                        if (!done)
                                        {
                                            <svg width="440" height="30">
                                                @{RenderProgressBar(percent, 300, "orange");}
                                            </svg>
                                            @if (!achieved)
                                            {
                                                <p>За сегодня: @cnt11 / @target (@percent22%)</p>
                                                <svg width="440" height="30">
                                                    @{RenderProgressBar(percent11, 300, "orange");}
                                                </svg>
                                            }
                                        }
                                        @if (!achieved)
                                        {
                                            <div>
                                                <a href="#" achId="@item.Id" class="add-btn">
                                                    @{ RenderButtonPlus(); }
                                                    <span style="margin: 5px">добавить</span>
                                                </a>

                                                @{

                                                    RenderTopUpButton(0, item.Id);
                                                }
                                            </div>
                                        }
                                    }
                                    break;
                                case AimType.Count:
                                    {

                                        int cnt = aa.Sum(z => z.Count);

                                        if (cnt > target)
                                        {
                                            cnt = target;
                                        }
                                        var percent = cnt / (float)target;
                                        var percent2 = Math.Round(percent * 100, 0);
                                        var addstr2 = "";
                                        if (ts != null)
                                        {
                                            addstr2 = $"осталось: {((int)ts.Value.TotalDays)} дней";
                                        }
                                        if (string.IsNullOrEmpty(item.Description))
                                        {
                                            <p>@item.Name: @cnt / @target (@percent2%) @addstr2</p>
                                        }
                                        else
                                        {
                                            <a class="aim-info-btn" href="#"><p>@item.Name: @cnt / @target (@percent2%) @addstr2</p></a>
                                            <div class="aimInfo" style="background-color: #aaaaff; border-radius: 20px; padding: 5px; color: white">
                                                <p>@item.Description</p>
                                            </div>
                                        }
                                        @if (!achieved)
                                        {
                                            <svg width="440" height="30">

                                                @{

                                                    RenderProgressBar(percent, 300, "orange");}

                                            </svg>
                                        }
                                        <div>


                                            <a href="#" achId="@item.Id" class="add-btn">


                                                @{RenderButtonPlus();
                                                }
                                                <span style="margin: 5px">добавить</span>
                                            </a>


                                            @{RenderTopUpButton(0, item.Id);
                                            }
                                        </div>

                                    }
                                    break;
                                case AimType.Min:
                                    {
                                        <p>@item.Name:  @target (min)</p>

                                    }
                                    break;
                                case AimType.Max:
                                    {
                                        <p>@item.Name:  @target (max)</p>

                                    }
                                    break;
                            }


                        }
                    </div>

                }
                var req1 = ctx.ChallengeRequirements.Where(z => z.Parent.Id == chitem2.Challenge.Id).Include(z => z.Child);
            }

            @if (req1.Any())
            {
                <div class="content1" style="background-color: #bbddff; border-radius: 20px;padding:10px;margin:10px">
                    <h3>Требуемые испытания: </h3>
                    @{
                        foreach (var bb in req1)
                        {

                            var cid = bb.Child.Id;
                            var req = ctx.UserChallengeInfos.SingleOrDefault(z => z.Challenge.Id == cid);


                            var str1 = "(не начато)";

                            if (req != null)
                            {

                                var perctot = Helper.GetPercentOfChallenge(ctx, req.ChallengeId,req.UserId);
                                var progress = Math.Round(perctot * 100, 1) + "%";


                                str1 = req.IsComplete ? "(завершено)" : "(не завершено) прогресс: " + progress;
                                <p>
                                    @bb.Child.Name @str1
                                    <svg width="440" height="30">
                                        @{RenderProgressBar((float)perctot, 300, "orange"); }
                                    </svg>
                                </p>
                            }
                            else
                            {
                                <p>@bb.Child.Name @str1</p>
                            }

                        }
                    }
                </div>
            }
        </div>

    }



}

