@page
@using Achiever.Common.Model
@using Achiever.Model
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@model Achiever.Pages.RecordsModel
@{
    ViewData["Title"] = "Records";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    .active-btn {
        background-color: lightblue;
        border-radius: 10px
    }

    .record-btn {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

<h1>Records</h1>

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#set-btn").click(function () {
                $("#week-table").hide();
                $("#month-table").hide();
                $("#day-table").hide();
                $("#year-table").hide();
                $("#set-table").show();

                $("#set-btn").addClass("active-btn");
                $("#day-btn").removeClass("active-btn");
                $("#week-btn").removeClass("active-btn");
                $("#month-btn").removeClass("active-btn");
                $("#year-btn").removeClass("active-btn");
            });

            $("#day-btn").click(function () {
                $("#week-table").hide();
                $("#month-table").hide();
                $("#year-table").hide();
                $("#day-table").show();
                $("#set-table").hide();

                $("#set-btn").removeClass("active-btn");
                $("#day-btn").addClass("active-btn");
                $("#week-btn").removeClass("active-btn");
                $("#month-btn").removeClass("active-btn");
                $("#year-btn").removeClass("active-btn");
            });

            $("#week-btn").click(function () {
                $("#week-table").show();
                $("#month-table").hide();
                $("#day-table").hide();
                $("#set-table").hide();
                $("#year-table").hide();

                $("#set-btn").removeClass("active-btn");
                $("#day-btn").removeClass("active-btn");
                $("#week-btn").addClass("active-btn");
                $("#month-btn").removeClass("active-btn");
                $("#year-btn").removeClass("active-btn");
            });

            $("#month-btn").click(function () {
                $("#week-table").hide();
                $("#month-table").show();
                $("#day-table").hide();
                $("#set-table").hide();
                $("#year-table").hide();

                $("#set-btn").removeClass("active-btn");
                $("#day-btn").removeClass("active-btn");
                $("#week-btn").removeClass("active-btn");
                $("#year-btn").removeClass("active-btn");
                $("#month-btn").addClass("active-btn");
            });

            $("#year-btn").click(function () {
                $("#week-table").hide();
                $("#year-table").show();
                $("#day-table").hide();
                $("#set-table").hide();
                $("#month-table").hide();

                $("#set-btn").removeClass("active-btn");
                $("#day-btn").removeClass("active-btn");
                $("#week-btn").removeClass("active-btn");
                $("#month-btn").removeClass("active-btn");
                $("#year-btn").addClass("active-btn");
            });

            $('.add-btn').click(function (e) {
                var aid = $(this).attr('achId');
                console.log('aid: ' + aid);
                console.log($(this).parent());
                $(this).parent().children(".hide1-cls").toggle();
                e.preventDefault();
            });

            $('.top-up-ok-btn').click(function (e) {
                const uri = 'api/Default';
                var aid = $(this).attr('achId');
                var val = $(this).parent().children(":input").val();

                let item = {
                    achieveId: parseInt(aid),
                    count: parseInt(val)
                };
                console.log(item);

                $.ajax({
                    type: "POST",
                    url: uri,

                    data: JSON.stringify(item),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //location.reload();
                        window.location.reload(true);
                        //alert(data);
                    },
                    failure: function (errMsg) {
                        //alert(errMsg);
                    }
                });

                e.preventDefault();


            });
            function float2int(value) {
                return value | 0;
            }

            $('.top-up-doubled-ok-btn').click(function (e) {
                const uri = 'api/Default/doubled';
                var aid = $(this).attr('achId');
                var val = $(this).parent().children(":input").val();
                var val2 = $(this).parent().children(".val2").val();


                /*fetch(uri)
                    .then(response => response.json())
                    .then(data => _displayItems(data))
                    .catch(error => console.error('Unable to get items.', error));*/
                let item = {
                    achieveId: parseInt(aid),
                    count: parseInt(val),
                    count2: float2int(parseFloat(val2) * 100)
                };
                console.log(item);

                $.ajax({
                    type: "POST",
                    url: uri,

                    data: JSON.stringify(item),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //location.reload();
                        window.location.reload(true);
                        //alert(data);
                    },
                    failure: function (errMsg) {
                        //alert(errMsg);
                    }
                });


                e.preventDefault();


            });
            $('.top-up-cancel-btn').click(function (e) {
                $(this).parent().children(".hide1-cls").toggle();
                e.preventDefault();

            });
        });
    </script>
}

<div>
    <h3>Рекорды</h3>

    @{

        void RenderButtonPlus()
        {
            <svg class="svg-plus-btn" xmlns:dc="http://purl.org/dc/elements/1.1/"
                 xmlns:cc="http://creativecommons.org/ns#"
                 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:svg="http://www.w3.org/2000/svg"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                 width="4.4465075mm"
                 height="4.4465075mm"
                 viewBox="0 0 29.92857 29.92857"
                 id="svg2"
                 version="1.1"
                 inkscape:version="0.91 r13725"
                 sodipodi:docname="plus1.svg">
                <defs id="defs4">
                    <linearGradient inkscape:collect="always"
                                    id="linearGradient4170">
                        <stop style="stop-color:#647ee7;stop-opacity:1;"
                              offset="0"
                              id="stop4172" />
                        <stop style="stop-color:#647ee7;stop-opacity:0;"
                              offset="1"
                              id="stop4174" />
                    </linearGradient>
                    <radialGradient inkscape:collect="always"
                                    xlink:href="#linearGradient4170"
                                    id="radialGradient4178"
                                    cx="215.71428"
                                    cy="256.64792"
                                    fx="215.71428"
                                    fy="256.64792"
                                    r="47.642857"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="matrix(0.31409294,0,0,0.31409294,115.28137,143.35805)" />
                </defs>
                <sodipodi:namedview id="base"
                                    pagecolor="#ffffff"
                                    bordercolor="#666666"
                                    borderopacity="1.0"
                                    inkscape:pageopacity="0.0"
                                    inkscape:pageshadow="2"
                                    inkscape:zoom="7.9195959"
                                    inkscape:cx="12.405905"
                                    inkscape:cy="26.643679"
                                    inkscape:document-units="px"
                                    inkscape:current-layer="layer1"
                                    showgrid="false"
                                    fit-margin-top="0"
                                    fit-margin-left="0"
                                    fit-margin-right="0"
                                    fit-margin-bottom="0"
                                    inkscape:window-width="1920"
                                    inkscape:window-height="931"
                                    inkscape:window-x="1352"
                                    inkscape:window-y="-8"
                                    inkscape:window-maximized="1" />
                <metadata id="metadata7">
                    <rdf:RDF>
                        <cc:Work rdf:about="">
                            <dc:format>image/svg+xml</dc:format>
                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                            <dc:title />
                        </cc:Work>
                    </rdf:RDF>
                </metadata>
                <g inkscape:label="Layer 1"
                   inkscape:groupmode="layer"
                   id="layer1"
                   transform="translate(-168.07142,-209.00506)">
                    <circle style="opacity:1;fill:#ff6600;fill-opacity:1;fill-rule:nonzero;stroke:url(#radialGradient4178);stroke-width:0.31409293;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                            id="path4136"
                            cx="183.03571"
                            cy="223.96935"
                            r="14.807239" />
                    <rect style="opacity:1;fill:#ffeeaa;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                          id="rect4138"
                          width="4.3085423"
                          height="15.62272"
                          x="181.06769"
                          y="216.33948"
                          ry="0" />
                    <rect style="opacity:1;fill:#ffeeaa;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                          id="rect4138-0"
                          width="4.5655689"
                          height="15.370181"
                          x="221.70856"
                          y="-191.1938"
                          ry="0"
                          transform="matrix(0,1,-1,0,0,0)" />
                </g>
            </svg>
        }

        void RenderDoubleTopUpButton(int val, string val2, int achId)
        {

            <input class="hide1-cls val1" type="text" value="@val" style="display:none" />
            <input class="hide1-cls val2" type="text" value="@val2" style="display:none" />
            <a class="top-up-doubled-ok-btn hide1-cls" achId="@achId" href="#" style="display:none">ok</a>
            <a class="top-up-cancel-btn hide1-cls" href="#" style="display:none">cancel</a>
        }
        void RenderTopUpButton(int val, int achId)
        {

            <input class="hide1-cls" type="text" value="@val" style="display:none" />
            <a class="top-up-ok-btn hide1-cls" achId="@achId" href="#" style="display:none">ok</a>
            <a class="top-up-cancel-btn hide1-cls" href="#" style="display:none">cancel</a>
        }
    }
    <a class="active-btn record-btn " id="set-btn" href="#"> Максимальный подоход</a>
    <a class="record-btn " id="day-btn" href="#"> Дневной максимум</a>
    <a class="record-btn " id="week-btn" href="#"> Недельный максимум</a>
    <a class="record-btn " id="month-btn" href="#"> Месячный максимум</a>
    <a class="record-btn " id="year-btn" href="#"> Годовой максимум</a>
    @{
        var context = AchieverContextHolder.GetContext();
        var user = Helper.GetUser(HttpContext.Session);

        var usr = context.Users.Find(Helper.GetUser(HttpContext.Session).Id);
        <table id="set-table" style="border: solid 1px;border:1">
            <tr>
                <th style=" border: 1px solid black;padding:10px;">Упражнение</th>
                <th style=" border: 1px solid black;padding:10px;">Дата рекорда</th>
                <th style=" border: 1px solid black;padding:10px;">Рекорд</th>
                <th style=" border: 1px solid black;padding:10px;">Сегодня</th>
            </tr>
            @{
                foreach (var item in context.AchievementItems.Include(z => z.Owner).Where(z => z.OwnerId == null || z.OwnerId == user.Id).ToArray())
                {
                    var feats = item.GetFeatures();
                    if (feats != null && feats.IsSingular)
                        continue;

                    int count1 = 0;
                    DateTime? ts = null;
                    int? count2 = null;
                    string dcount1 = "";
                    string dcount2 = "";
                    bool doubled = false;
                    if (feats != null)
                    {
                        doubled = feats.IsDoubleValued;
                    }

                    if (!doubled)
                    {
                        if (context.AchievementValueItems.Where(z => z.User.Id == usr.Id && item.Id == z.Achievement.Id).Any())
                        {
                            var chlds = context.AchievementItems.Where(z => z.Parent.Id == item.Id).Select(z => z.Id).ToArray();

                            var frr = context.AchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id))).OrderByDescending(z => z.Count).First();
                            var frr2p = context.AchievementValueItems
                            .Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id)) && z.Timestamp.Date == DateTime.UtcNow.Date)
                            .OrderByDescending(z => z.Count);

                            count1 = frr.Count;
                            ts = frr.Timestamp;
                            if (frr2p.Any())
                            {
                                count2 = frr2p.First().Count;
                            }
                        }
                    }
                    else
                    {
                        if (context.DoubleAchievementValueItems.Where(z => z.User.Id == usr.Id && item.Id == z.Achievement.Id).Any())
                        {
                            var chlds = context.AchievementItems.Where(z => z.Parent.Id == item.Id).Select(z => z.Id).ToArray();

                            var frr = context.DoubleAchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id))).OrderByDescending(z => z.Count * z.Count2).First();
                            var frr2p = context.DoubleAchievementValueItems
                            .Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id)) && z.Timestamp.Date == DateTime.UtcNow.Date)
                            .OrderByDescending(z => z.Count * z.Count2);
                            var total = frr.Count * frr.Count2 / 100.0;
                            count1 = (int)total;
                            dcount1 = $"{frr.Count} x {frr.Count2 / 100.0} = {frr.Count * frr.Count2 / 100.0}";
                            ts = frr.Timestamp;
                            if (frr2p.Any())
                            {
                                var fff = frr2p.First();
                                count2 = (int)(fff.Count * fff.Count2 / 100.0);
                                dcount2 = $"{fff.Count} x {fff.Count2 / 100.0} = {fff.Count * fff.Count2 / 100.0}";
                            }
                        }
                    }
                    <tr style=" border: 1px solid black;padding:10px;">
                        <td style=" border: 1px solid black;padding:10px;">

                            <div>
                                @item.Name
                                <a href="#" achId="@item.Id" class="add-btn">
                                    @{
                                        RenderButtonPlus();
                                    }
                                    <span style="margin: 5px">добавить</span>
                                </a>

                                @{
                                    @if (doubled)
                                        RenderDoubleTopUpButton(0, "0.00", item.Id);
                                    else
                                        RenderTopUpButton(0, item.Id);
                                }
                            </div>
                        </td>
                        <td style=" border: 1px solid black;padding:10px;">
                            @if (ts == null)
                            {
                                <span>нет данных</span>

                            }
                            else
                            {
                                @(ts.Value.ToLongDateString() + " " + ts.Value.ToLongTimeString())
                            }
                        </td>
                        <td style=" border: 1px solid black;padding:10px;">
                            @if (!doubled)
                @count1
                                else
                @dcount1
                








            </td>
            <td style=" border: 1px solid black;padding:10px;">
                @if (count2 != null)
                                    {
                                        @if (count2 == count1)
                                        {
                                            <b style="color: blue">рекорд!</b>
                                        }
                                        else
                                        {
                                            @if (doubled)
                @dcount2
                                else
                @count2







                                }
                                    }
                                    else
                                    {
                                        <span>нет данных</span>
                                    }

                        </td>
                        <td style=" border: 1px solid black;padding:10px;">

                            @if (item.Owner != null)
                            {
                                <a class="delete-btn" href="#" itemId="@item.Id">
                                    удалить
                                </a>
                            }
                            else
                            {
                                <text></text>
                            }

                        </td>

                    </tr>

                }
            }
        </table>
    }

    @{


        <table id="day-table" style="display:none; border: solid 1px;border:1">
            <tr>
                <th style=" border: 1px solid black;padding:10px;">Упражнение</th>
                <th style=" border: 1px solid black;padding:10px;">Дата рекорда</th>
                <th style=" border: 1px solid black;padding:10px;">Рекорд</th>
                <th style=" border: 1px solid black;padding:10px;">Сегодня</th>
            </tr>
            @{
                foreach (var item in context.AchievementItems.Include(z => z.Owner).Where(z => z.OwnerId == null || z.OwnerId == user.Id).ToArray())
                {
                    var feats = item.GetFeatures();
                    if (feats != null && !feats.IsCumulative) continue;
                    //if (!context.AchievementValueItems.Where(z => z.User.Id == usr.Id && item.Id == z.Achievement.Id).Any()) continue;
                    int frrSum = 0;
                    int frrSum2 = 0;
                    double frrSumd = 0;
                    double frrSum2d = 0;
                    DateTime? dts1 = null;
                    var chlds = context.AchievementItems.Where(z => z.Parent.Id == item.Id).Select(z => z.Id).ToArray();

                    bool doubled = false;
                    if (feats != null)
                    {
                        doubled = feats.IsDoubleValued;
                    }

                    if (!doubled)

                        if (context.AchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id))).Any())
                        {
                            var frr = context.AchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id))).ToArray().
                            GroupBy(z => z.Timestamp.Year + ";" +
                            z.Timestamp.DayOfYear).OrderByDescending(z => z.Sum(u => u.Count)).First();
                            var frr2 = context.AchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id)) && z.Timestamp.Date
                            == DateTime.UtcNow.Date).ToArray();
                            frrSum = frr.Sum(u => u.Count);
                            frrSum2 = frr2.Sum(u => u.Count);
                            dts1 = frr.First().Timestamp.Date;
                        }
                    if (doubled)
                        if (context.DoubleAchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id))).Any())
                        {
                            var frr = context.DoubleAchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id))).ToArray().
                            GroupBy(z => z.Timestamp.Year + ";" +
                            z.Timestamp.DayOfYear).OrderByDescending(z => z.Sum(u => u.Count * u.Count2)).First();
                            var frr2 = context.DoubleAchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id)) && z.Timestamp.Date
                            == DateTime.UtcNow.Date).ToArray();
                            frrSumd = frr.Sum(u => u.Count * u.Count2) / 100.0;
                            frrSum2d = frr2.Sum(u => u.Count * u.Count2) / 100.0;
                            dts1 = frr.First().Timestamp.Date;
                        }


                    <tr style=" border: 1px solid black;padding:10px;">
                        <td style=" border: 1px solid black;padding:10px;">
                            @item.Name
                            <a href="#" achId="@item.Id" class="add-btn">
                                @{
                                    RenderButtonPlus();
                                }
                                <span style="margin: 5px">добавить</span>
                            </a>

                            @{
                                @if (doubled)
                                    RenderDoubleTopUpButton(0, "0.00", item.Id);
                                else
                                    RenderTopUpButton(0, item.Id);

                            }
                        </td>
                        <td style=" border: 1px solid black;padding:10px;">
                            @if (dts1 == null)
                            {
                                <span>нет данных</span>
                            }
                            else
                            {
                                @(dts1.Value.ToLongDateString())
                            }
                        </td>
                        <td style=" border: 1px solid black;padding:10px;">
                            @if (!doubled)
                            {
                                @frrSum
                            }
                            else
                            {
                                @frrSumd
                            }

                        </td>
                        <td style=" border: 1px solid black;padding:10px;">
                            @if (!doubled)
                            {
                                @if (frrSum2 == frrSum && dts1 == DateTime.UtcNow.Date)
                                {
                                    <b style="color: blue">рекорд!</b>
                                }
                                else
                                {
                                    @frrSum2
                                    <br />
                                    <span>
                                        До рекорда: @(
                                        frrSum - frrSum2
                                        )
                </span>
                                }
                            }
                            else
                            { @if (frrSum2d == frrSumd && dts1 == DateTime.UtcNow.Date)
                                {
                                    <b style="color: blue">рекорд!</b>
                                }
                                else
                                {
                                    @frrSum2d
                                    <br />
                                    <span>До рекорда: @(frrSumd - frrSum2d)</span>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    }


    @{


        <table id="week-table" style="display:none; border: solid 1px;border:1">
            <tr>
                <th style=" border: 1px solid black;padding:10px;">Упражнение</th>
                <th style=" border: 1px solid black;padding:10px;">Дата рекорда</th>
                <th style=" border: 1px solid black;padding:10px;">Рекорд</th>
                <th style=" border: 1px solid black;padding:10px;">Эта неделя</th>
            </tr>
            @{
                foreach (var item in context.AchievementItems.Include(z => z.Owner).Where(z => z.OwnerId == null || z.OwnerId == user.Id).ToArray())
                {
                    var feats = item.GetFeatures();
                    if (feats != null && !feats.IsCumulative)
                        continue;
                    var chlds = context.AchievementItems.Where(z => z.Parent.Id == item.Id).Select(z => z.Id).ToArray();

                    if (!context.AchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id))).Any())
                        continue;


                    var frr = context.AchievementValueItems
                    .Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id)))
                    .ToArray()
                    .GroupBy(z =>
                    z.Timestamp.Year + ";" +
                    CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(z.Timestamp.Date, CalendarWeekRule.FirstDay, DayOfWeek.Monday)).OrderByDescending(z => z.Sum(u => u.Count)).First();

                    var frr2 = context.AchievementValueItems
                    .Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id)))
                    .ToArray()
                    .Where(z =>
                    DateTime.Now.Year == z.Timestamp.Year &&
                    CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(z.Timestamp.Date, CalendarWeekRule.FirstDay, DayOfWeek.Monday) ==
                    CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(DateTime.UtcNow.Date, CalendarWeekRule.FirstDay, DayOfWeek.Monday)
                    );

                    <tr style=" border: 1px solid black;padding:10px;">
                        <td style=" border: 1px solid black;padding:10px;">
                            @item.Name

                        </td>
                        <td style=" border: 1px solid black;padding:10px;">
                            @frr.Min(z => z.Timestamp).ToLongDateString() - @frr.Max(z => z.Timestamp).ToLongDateString()
                        </td>
                        <td style=" border: 1px solid black;padding:10px;">

                            @frr.Sum(u => u.Count)
                        </td>
                        <td style=" border: 1px solid black;padding:10px;">
                            @if (frr2.Sum(z => z.Count) == frr.Sum(u => u.Count) && CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(frr2.First().Timestamp.Date, CalendarWeekRule.FirstDay, DayOfWeek.Monday) ==
                                            CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(DateTime.UtcNow.Date, CalendarWeekRule.FirstDay, DayOfWeek.Monday))
                            {
                                <b style="color: blue">рекорд!</b>

                            }
                            else
                            {
                                @frr2.Sum(z => z.Count)
                                <br />
                                <span>До рекорда: @(frr.Sum(u => u.Count) - frr2.Sum(z => z.Count))</span>
                            }
                        </td>
                    </tr>

                }
            }
        </table>
    }


    @{
        <table id="month-table" style="display:none; border: solid 1px;border:1">
            <tr>
                <th style=" border: 1px solid black;padding:10px;">Упражнение</th>
                <th style=" border: 1px solid black;padding:10px;">Дата рекорда</th>
                <th style=" border: 1px solid black;padding:10px;">Рекорд</th>
                <th style=" border: 1px solid black;padding:10px;">В этом месяце</th>
            </tr>
            @{
                foreach (var item in context.AchievementItems.Include(z => z.Owner).Where(z => z.OwnerId == null || z.OwnerId == user.Id).ToArray())
                {
                    var feats = item.GetFeatures();
                    if (feats != null && !feats.IsCumulative) continue;
                    var chlds = context.AchievementItems.Where(z => z.Parent.Id == item.Id).Select(z => z.Id).ToArray();


                    if (!context.AchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id))).Any()) continue;
                    var frr = context.AchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id))).ToArray().GroupBy(z =>
                    z.Timestamp.Month + ";" + z.Timestamp.Year).OrderByDescending(z => z.Sum(u => u.Count)).First();

                    var frr2 = context.AchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id)) && z.Timestamp.Month == DateTime.Now.Month && z.Timestamp.Year == DateTime.Now.Year).ToArray();

                    <tr style=" border: 1px solid black;padding:10px;">
                        <td style=" border: 1px solid black;padding:10px;">
                            @item.Name

                        </td>

                        <td style=" border: 1px solid black;padding:10px;">
                            @frr.First().Timestamp.Date.ToString("MMMM yyyy")
                        </td>
                        <td style=" border: 1px solid black;padding:10px;">

                            @frr.Sum(u => u.Count)
                        </td>

                        <td style=" border: 1px solid black;padding:10px;">
                            @if (frr2.Sum(z => z.Count) == frr.Sum(u => u.Count)
                                            && frr.First().Timestamp.Date.Year == DateTime.Now.Year
                                            && frr.First().Timestamp.Date.Month == DateTime.Now.Month
                                            )
                            {
                                <b style="color: blue">рекорд!</b>
                            }
                            else
                            {
                                @frr2.Sum(z => z.Count)
                                <br />
                                <span>До рекорда: @(frr.Sum(u => u.Count) - frr2.Sum(z => z.Count))</span>
                            }
                        </td>

                    </tr>

                }
            }
        </table>
    }
    @{
        <table id="year-table" style="display:none; border: solid 1px;border:1">
            <tr>
                <th style=" border: 1px solid black;padding:10px;">Упражнение</th>
                <th style=" border: 1px solid black;padding:10px;">Дата рекорда</th>
                <th style=" border: 1px solid black;padding:10px;">Рекорд</th>
                <th style=" border: 1px solid black;padding:10px;">В этом году</th>
            </tr>
            @{
                foreach (var item in context.AchievementItems.Include(z => z.Owner).Where(z => z.OwnerId == null || z.OwnerId == user.Id).ToArray())
                {
                    var feats = item.GetFeatures();
                    if (feats != null && !feats.IsCumulative) continue;
                    var chlds = context.AchievementItems.Where(z => z.Parent.Id == item.Id).Select(z => z.Id).ToArray();



                    if (!context.AchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id))).Any()) continue;
                    var frr = context.AchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id))).ToArray().GroupBy(z =>
                    z.Timestamp.Year).OrderByDescending(z => z.Sum(u => u.Count)).First();

                    var frr2 = context.AchievementValueItems.Where(z => z.User.Id == usr.Id && (z.Achievement.Id == item.Id || chlds.Contains(z.Achievement.Id)) && z.Timestamp.Year == DateTime.Now.Year).ToArray();

                    <tr style=" border: 1px solid black;padding:10px;">
                        <td style=" border: 1px solid black;padding:10px;">
                            @item.Name

                        </td>

                        <td style=" border: 1px solid black;padding:10px;">
                            @frr.First().Timestamp.Date.ToString("yyyy")
                        </td>
                        <td style=" border: 1px solid black;padding:10px;">

                            @frr.Sum(u => u.Count)
                        </td>

                        <td style=" border: 1px solid black;padding:10px;">
                            @if (frr2.Sum(z => z.Count) == frr.Sum(u => u.Count)
                                            && frr.First().Timestamp.Date.Year == DateTime.Now.Year

                                            )
                            {
                                <b style="color: blue">рекорд!</b>
                            }
                            else
                            {
                                @frr2.Sum(z => z.Count)
                                <br />
                                <span>До рекорда: @(frr.Sum(u => u.Count) - frr2.Sum(z => z.Count))</span>
                            }
                        </td>

                    </tr>

                }
            }
        </table>
    }
</div>
